@import url(../libs/slick-carousel/slick/slick-theme.css);
@import url(../libs/slick-carousel/slick/slick.css);
@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FontAwesome/FontAwesome.eot");
  src: url("../fonts/FontAwesome/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/FontAwesome.woff") format("woff"), url("../fonts/FontAwesome/FontAwesome.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansExtraBold";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype"); }

/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

input[type="search"] {
  -webkit-appearance: none; }

::-ms-clear {
  width: 0;
  height: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

td, form {
  margin: 0px;
  padding: 0px; }

a {
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

img {
  display: block; }

.button {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: auto;
  height: 34px;
  align-self: flex-end;
  line-height: 33px;
  padding: 0 10px;
  font-size: 11px;
  border: 2px solid #fff;
  border-radius: 3px;
  text-transform: uppercase; }
  .button .icon {
    margin-right: 5px;
    transform: rotate(90deg); }
  .button_yellow {
    background: #ffba00;
    color: #000;
    border-color: #ffba00; }
  .button_big {
    margin-right: 30px;
    padding: 0 40px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 13px; }
    .button_big:last-child {
      margin-right: 0px; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.cover {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(-15deg, rgba(61, 43, 17, 0.59) 0%, rgba(59, 34, 55, 0.59) 100%); }

body {
  font-family: "OpenSansExtraBold", sans-serif; }

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .hero .container {
    height: 100vh;
    position: relative; }

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 34px; }
  .header__tel {
    display: flex;
    flex-direction: column; }
    .header__tel span {
      text-align: right;
      font-size: 21px;
      color: #fff;
      display: block; }
  .header__nav {
    position: relative;
    display: flex; }
    .header__nav li {
      list-style: none;
      font-size: 13px;
      padding: 0px 20px; }
    .header__nav a {
      position: relative;
      letter-spacing: 1.2px;
      display: block;
      padding: 20px 0px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      transition: .5s; }
      .header__nav a:hover:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #ffba00;
        border-bottom: 2px solid #ffba00;
        transition: .5s; }
      .header__nav a:hover {
        color: #ffba00; }

.main {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }
  .main__text {
    margin-bottom: 10px;
    font-size: 65px;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 45px; }

.row {
  display: flex; }

.section {
  position: relative;
  padding: 95px 0px; }
  .section__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 35px;
    font-size: 36px;
    font-weight: 400;
    display: block;
    letter-spacing: 3px;
    line-height: 1.2; }
    .section__title:after {
      content: "";
      position: absolute;
      width: 170px;
      border-bottom: 3px solid #ffba00;
      bottom: 0;
      left: 0; }
  .section__desc {
    font-size: 15px; }
  .section__tabs {
    position: absolute;
    bottom: -80px;
    display: block; }
    .section__tabs a {
      text-align: center;
      padding: 12px 40px;
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      display: inline;
      color: #605462; }
      .section__tabs a:before {
        content: "";
        position: absolute;
        border-bottom: 3px solid #dedbde;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0; }
      .section__tabs a:hover:before {
        border-bottom-color: #000; }

.row {
  position: relative;
  display: flex; }
  .row__left {
    position: relative;
    display: flex;
    align-items: center; }
  .row .panel {
    filter: drop-shadow(0 2px 59px rgba(232, 179, 111, 0.37));
    margin-bottom: 20px; }
  .row__right {
    flex: 1 0 66%; }

.wrapz {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 58px; }

.textual {
  width: 580px;
  padding: 54px 0px;
  font-family: "OpenSans";
  line-height: 24px;
  font-weight: 400;
  color: #1f0f22; }

.circle {
  position: absolute;
  width: 350px;
  z-index: -2;
  height: 350px;
  border: 2px dashed #000;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%; }

.advatage {
  padding-bottom: 40px; }
  .advatage__menu {
    list-style: none; }
  .advatage__item {
    font-size: 14px;
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    line-height: 24px;
    font-family: "OpenSans";
    padding-right: 10px; }
    .advatage__item .fa-check-circle {
      color: #582c60;
      margin-right: 10px; }

/* small  Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 100%; }
  .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
  .slideshow-container .active, .slideshow-container .dot:hover {
    background-color: #717171; }
  .slideshow-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .slideshow-container .prev:hover, .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; }
  .slideshow-container .mySlides {
    display: none; }
    .slideshow-container .mySlides img {
      vertical-align: middle; }

/* Position the image container (needed to position the left and right arrows) */
.slider-container {
  position: relative;
  padding-top: 52px; }

/* Hide the images by default */
.Slides {
  display: none; }
  .Slides img {
    vertical-align: middle; }

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white; }

.line {
  display: flex; }

/* Six columns side by side */
.column {
  margin-right: 7px;
  width: 14.28%; }
  .column:last-child {
    margin-right: 0; }

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6; }

.active, .demo:hover {
  opacity: 1; }

.modal {
  box-shadow: inset 9.5px -14.1px 155px rgba(0, 0, 0, 0.47); }

.content {
  flex-wrap: wrap;
  display: flex;
  padding: 50px 0px; }

.item {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  width: 33.3%; }
  .item__img {
    display: block;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #582c60;
    flex: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; }
    .item__img img {
      filter: drop-shadow(18px 8px 1px #4b2552); }
    .item__img:before {
      position: absolute;
      height: 110px;
      width: 110px;
      content: "";
      border: 1px dashed #582c60;
      display: block;
      border-radius: 50%; }
  .item__text h3 {
    text-transform: uppercase;
    font-size: 21px;
    padding-bottom: 23px; }
  .item__text p {
    font-family: "OpenSans";
    line-height: 20px; }

.project {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0px; }

.projects {
  position: relative;
  padding-bottom: 140px; }
  .projects::after {
    content: "";
    left: 0;
    right: 0;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 400px;
    width: 100%;
    box-shadow: 0px 40px 40px -13px #d5d5d5 inset; }
  .projects::before {
    position: absolute;
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-color: #ebddef;
    left: 47%;
    bottom: 34px;
    clip-path: polygon(65% 73%, 10% 100%, 100% 100%); }

.clients {
  clip-path: polygon(50% 1%, 100% 1%, 100% 100%, 0 100%, 0 5%);
  margin-top: -54px;
  background-color: #ebddef;
  position: relative; }

.quotes {
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: -190px; }

.house {
  margin: 10px;
  width: 33.33%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.21);
  max-width: 370px; }
  .house__img {
    max-width: 370px; }
  .house__desc {
    margin-left: 35px;
    padding: 35px 0px; }
    .house__desc h3 {
      font-size: 19px;
      text-transform: uppercase;
      padding-bottom: 18px; }
    .house__desc p {
      line-height: 20px;
      font-size: 14px;
      font-family: "OpenSansLight";
      color: #1f0f22; }
  .house__offer {
    padding: 35px 0px;
    background-image: url("../img/bigel.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    .house__offer p {
      font-size: 15px;
      margin-left: 35px;
      padding-bottom: 16px; }
    .house__offer span {
      color: #582c60; }
    .house__offer a {
      margin-left: 35px; }

.slick-prev {
  left: -50px; }

.slick-next {
  right: -50px; }

.lazy {
  width: 80%;
  margin: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.21);
  border-radius: 3px; }

.feedback {
  display: flex !important; }
  .feedback__avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 200px;
    height: auto;
    flex: none; }
  .feedback__comment {
    z-index: 999;
    padding: 40px 30px;
    background-color: #fff; }
  .feedback h4 {
    font-size: 17px;
    padding-bottom: 25px;
    text-transform: uppercase; }
    .feedback h4 a {
      margin-left: 20px; }
  .feedback p {
    font-family: "times new roman";
    font-weight: 400;
    line-height: 22px;
    font-size: 14px; }

.footer {
  z-index: 2;
  position: relative;
  min-height: 800px; }

.location {
  z-index: 5;
  padding: 40px 0px;
  background-color: #68416e;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9; }
  .location .container {
    display: flex;
    align-items: center; }

.situated {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.2px;
  width: 40%; }

.address1 {
  color: #ffba00;
  letter-spacing: 1.2px; }

.fa-location-arrow {
  margin-right: 10px; }

.map {
  z-index: 2;
  width: 100%;
  display: block;
  padding: 0px;
  margin: 0px;
  height: 700px;
  position: relative; }

.form {
  width: 370px;
  text-align: center;
  display: block;
  align-items: center;
  flex-direction: column;
  padding: 37px 34px;
  position: absolute;
  top: 22%;
  right: 20%;
  background-color: #fff; }
  .form .button {
    display: block;
    width: 100%; }
  .form h5 {
    padding-bottom: 26px;
    text-align: center;
    line-height: 26px; }
    .form h5 span {
      color: #3c1a42; }
  .form__field:last-of-type {
    padding-bottom: 20px; }
  .form__field {
    padding-bottom: 12px; }
    .form__field input {
      height: 55px;
      width: 100%;
      background-color: transparent;
      border: none;
      padding-left: 30px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21); }
      .form__field input:-ms-input-placeholder {
        font-size: 15px; }
      .form__field input:-moz-placeholder {
        font-size: 15px; }
      .form__field input::-moz-placeholder {
        font-size: 15px; }
      .form__field input::-webkit-input-placeholder {
        font-size: 15px; }
      .form__field input::placeholder {
        font-size: 15px; }
  .form p {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-family: "OpenSansLight";
    color: #3c1a42; }
    .form p .fa-lock {
      margin-right: 10px; }

.bottom {
  position: relative;
  background: #3c1a42;
  padding: 22px 0px; }
  .bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .bottom .copyright {
    font-family: "OpenSansLight";
    font-size: 13px;
    color: #fff;
    opacity: 0.55; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }
